#chat-screen {
  background-color: #9fb9c7;
  height: 11000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  background-color: #9fb9c7;
}

.chatsroom {
  margin-top: 150px;
}

#chat-screen .alt-header {
  top: 5px;
  z-index: 1;
}

/* 레이어 위/아래 기능 추가 Z-index*/
#chat-screen .status-bar {
  z-index: 2;
}
