.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-icons i {
  font-size: 35px;
}

.find-icons__icon span {
  margin-top: 18px;
}

.recommended-friends {
  margin: 20px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  color: var(--font-color-gray);
  font-weight: 600;
  font-size: 14px;
}

.recommended-friends span {
  font-size: 16px;
  text-align: center;
  margin: 100px 0px;
  /* 마진이 적용안되는 이유는 inline 이기 때문이다. block으로 바꿔라! */
  display: block;
  color: var(--font-color-gray);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 20px;
}

.open-chat__header span {
  opacity: 0.5;
}

.open-post {
  display: flex;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  /* 대문자 변환 코드 */
  font-weight: 600;
  color: var(--font-color-gray);
  margin-bottom: 7px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 25px;
  height: 25px;
  border-radius: 40%;
  margin-right: 5px;
}

.open-post__members-count {
  color: var(--font-color-gray);
  font-weight: 600;
  font-size: 14px;
}

.open-post__status {
  color: #ff66c4;
  font-weight: 600;
}

.open-post__members .divider {
  /* 이처럼 작성하는이유는 - 코드상 다른디바이더가 있을수있고,
오픈포스트멤버스 하위 디바이더에만 적용이됨 */
  width: 1.5px;
  height: 12px;
  background-color: var(--font-color-gray);
  margin: 0px 7px;
}
