#friends-diplay-link {
  background-color: #fafafa;
  display: block;
  text-align: center;
  padding: 15px 0;
  font-weight: 600;
  font-size: 18px;
}
#friends-diplay-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 15px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
#friends-screen .screen-header {
  background-color: white;
  z-index: 1;
}
#friends-screen .status-bar {
  z-index: 2;
}

@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  animation: hidesplashscreen 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
}
