.more-screen .icon-row {
  /* 다른 페이지.icon-row 나 .user-component 에는 마진을 주면 
  다른 화면들에 영향을 끼치기 때문에 이렇게 작성한다  */
  margin-top: 30px;
}

.more-suggestions {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  padding-top: 25px;
}

.more-suggestions__title {
  font-weight: 600;
  margin-bottom: 30px;
}

.more-suggestions__icons {
}

.more-suggestions__icon {
  display: flex;
}

.more-suggestions__icon-image {
}

.more-suggestions__icon-image img {
  width: 50px;
  height: 50px;
}

.more-suggestions__icon-text {
}
