.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 10px;
}

.setting__setting-column:last-child {
  opacity: 0.5;
}

.privacy {
  padding-top: 25px;
}

.version {
  margin-bottom: 25px;
}

.latest {
  margin-bottom: 25px;
}

.setting__setting-column {
  display: flex;
  align-items: center;
}

.setting__setting-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  font-size: 8px;
  margin-left: 10px;
}

#settings-screen .alt-header {
  background-color: white;
  z-index: 1;
}

#settings-screen .status-bar {
  z-index: 2;
}
