nav {
  position: fixed;
  /* 포지션 고정 */
  bottom: 0;
  /* 네비바 하단으로 내림 */
  width: 100%;
  /* 내린후, 배열이 몰려 너비 100% 설정 */
  box-sizing: border-box;
  /* box 사이즈 변경하지 말아줘 설정 */
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2f363e;
}
