nav {
  position: fixed;
  /* 포지션 고정 */
  bottom: 0;
  /* 네비바 하단으로 내림 */
  width: 100%;
  /* 내린후, 배열이 몰려 너비 100% 설정 */
  box-sizing: border-box;
  /* box 사이즈 변경하지 말아줘 설정 */
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  /* 자식에 앱솔루트를 사용하려면 부모에 realative 추가 */
  color: #2f363e;
}
.nav__chat-notification {
  font-weight: 600;
  position: absolute;
  /* 알림숫자 1을 아이콘과 겹치게 할때, 
  앱솔루트는 가장 가까운 realative를 가진 부모기준으로 움직인다 */
  left: 20px;
  bottom: 17px;
}
.nav__elli-notification {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  left: 27px;
}
